{{ form_start(form, {'attr': {'novalidate':"novalidate", 'id':'contact_form'} }) }}



    <div class="control-group">

        <div class="form-group  controls mb-0 pb-2">
            {{ form_row(form.Civilite, {'attr': {'class':'form-control', 'placeholder': 'Civilité'} })}}
            <p class="help-block text-danger"></p>
        </div>
    </div>
    <div class="control-group">
        <div class="form-group floating-label-form-group controls mb-0 pb-2">
            {{ form_row(form.Nom , {'attr': {'class':'form-control', 'placeholder': 'Nom'} })}}
            <p class="help-block text-danger"></p>
        </div>
    </div>
    <div class="control-group">
        <div class="form-group floating-label-form-group controls mb-0 pb-2">
            {{ form_row(form.Prenom , {'attr': {'class':'form-control', 'placeholder': 'Prénom'} })}}
            <p class="help-block text-danger"></p>
        </div>
    </div>
    <div class="control-group">
        <div class="form-group floating-label-form-group controls mb-0 pb-2">
             {{ form_row(form.Email , {'attr': {'class':'form-control', 'placeholder': 'Email'} })}}
            <p class="help-block text-danger"></p>
        </div>
    </div>
    <div class="control-group">
        <div class="form-group floating-label-form-group controls mb-0 pb-2">
            {{ form_row(form.Telephone , {'attr': {'class':'form-control', 'placeholder': 'Telephone'} })}}
            <p class="help-block text-danger"></p>
        </div>
    </div>
    <div class="control-group">
        <div class="form-group floating-label-form-group controls mb-0 pb-2">
            {{ form_row(form.Newsletter )}} Inscription à la newsletter
            <p class="help-block text-danger"></p>
        </div>
    </div>
    <br>
    <div id="success"></div>
    <div class="form-group">
        <button type="submit" class="btn btn-primary btn-xl" id="sendMessageButton">{{ button_label|default('Send') }}</button>
    </div>



{{ form_end(form) }}