{% extends 'layout.html.twig' %}

{% block title %}Contact index{% endblock %}

{% block content %}
    <div class="container">
        <h2 class="text-center text-uppercase text-secondary mb-0">Inscription</h2>
        <hr class="star-dark mb-5">
        <div class="row">
            <div class="col-lg-8 mx-auto">
                {{ include('contact/_form.html.twig') }}

            </div>
        </div>
    </div>



{% endblock %}
