{% extends 'base.html.twig' %}

{% block body %}
    {{ include ('menu.html.twig') }}
<section>{% block content %}{% endblock content %} </section>
    {{ include ('about.html.twig') }}
    {{ include ('footer.html.twig') }}

{% endblock body %}